name: Checks

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  checks:
    runs-on: macos-latest

    defaults:
      run:
        working-directory: gateway-contract  


    steps:
    - uses: actions/checkout@v4

    - name: Install Rust
      run: |
        curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
        source $HOME/.cargo/env

    - name: Install Rust target for Soroban
      run: |
        source $HOME/.cargo/env
        rustup target add wasm32v1-none

    - name: Install rustfmt and clippy
      run: |
        source $HOME/.cargo/env
        rustup component add rustfmt clippy

    - name: Check formatting
      run: |
        source $HOME/.cargo/env
        cargo fmt --check

    - name: Run Clippy lints
      run: |
        source $HOME/.cargo/env
        cargo clippy -- -D warnings

    - name: Cargo check
      run: |
        source $HOME/.cargo/env
        cargo check --verbose